.navbar {
    z-index: 1;
    position: fixed;
    background-color: #573391;
    width: 100%;
    padding: 8px;
    height: 50px;
}

nav a {
    color: #357C3C;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
    
}

.nav-link:hover {
    color: #EF6D6D
}

body {
    font-family: 'Rubik', sans-serif; !important;
}

#github-btn {
    background-color: #EF6D6D;
    border: #EF6D6D;
}

.about-me {
    background-color: #357C3C; !important;
}

.about-me h1 {
    color: #573391;
}


.img-container {
    max-height: 300px;

}

.img-container img {
    width: 100%;
    height: 100%;
    max-width: fit-content;
    align-items: center;
    border-radius: 50%;
    position: relative; left: 30px; top: 2px;

}



.contact a {
    text-decoration: none;
    color: #573391;
    font-size: 25px;
    
}

.contact {
    text-align: center;
    background-color: #357C3C; !important;

}

.contact-links {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    
}

#contact-link:hover {
    color: #EF6D6D
}









