nav {
    z-index: 1;
    position: fixed;
}

.work{
    display: flex;
    justify-content: space-evenly;
}

.work-flex {
    margin-bottom: 15px;
}

.skills {
    display: flex;
    justify-content: space-between;
    
}

.skills-item {
    padding: 20px;
    margin: 20px;
}


