nav {
    z-index: 1;
    position: fixed;
    background-color: #573391;
    width: 100%;
    padding: 8px;
    margin-bottom: 5px;
    height: 50px;
}

nav a {
    color: #357C3C;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
    
}

.nav-link:hover {
    color: #EF6D6D
}

.nav {
    display: flex;
}




.work{
    display: flex;
    justify-content: space-evenly;
}

.work-flex {
    margin-bottom: 15px;
}

.skills {
    display: flex;
    justify-content: space-between;
    
}

.skills-item {
    padding: 20px;
    margin: 20px;
}


